{% extends 'booksauthors/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<img src="{% static '/images/author.png' %}" alt="">
<div class="container">

    <div class="card text-white bg-secondary">
        <div class="card-header">
            Add Author Form
        </div>
        <div class="card-body">
            <form action="" method="post">
                <!-- input fields insert -->
                {% csrf_token %}
                {{authorform|crispy}}
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                    Add Author
                </button>

                <a href="{%url 'home'%}" class="btn btn-danger">
                    <i class="fas fa-ban"></i>
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}